html{
    height: 100%;
    background: url(./imgs/722747.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    background-size: auto;
    



}
.header{
    display: flex;
    flex-direction: row;
    padding:0 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 7px;
    margin: 16px;

}  
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-y: hidden;
    

}
li{
    display: flex;
    list-style: none;
    font-size: 16px;
    color: white;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    
    
}
#logoa{
    display: flex;
    align-items: center;
    max-width: 200px;
    padding: 10px;
    padding-bottom: 12px;
 
}
.select{
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
    margin-left: 70px;
    
}
 .log-serc{
    display: flex;
    margin-left: 200px;
    gap:30px;
    align-items: center;
 }

 #search{
    max-width: 20px;
    max-height: 50px;
    display: flex;
    filter: invert(100%);
 }
 button{
    border: 0;

 }
 .login{
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: lightsalmon;
    border: 0;
    border-radius: 7px;
    min-width: 100px;
    font-size: 20px;
    justify-content: center;
 }
 .login:hover{
    background-color: rgb(194, 110, 77);
 }
 .login:active{
    transform:translateY(4px);
    border: 1px solid;
    border-color: lightcoral;
 }
.text{
    display: flex;
    align-items: center;

}
.txtsrch{
    margin-right: 10px;
    min-width: 150px;
    max-width: 150px;
    max-height: 20px;
    border:0;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    resize: none;
    padding-left: 5px;
}
a:visited,
a:active,
a:link
{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: none;
    color:rgb(140, 137, 137);

}
#waifu{
    max-width: 50px;
}
.bod{
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;


 }
.anime{
    display: flex;
    background-size: cover;
    max-width: 200px;
    max-height: 400px;
    margin: 16px;
    border: 1px solid black;
    justify-content: center;
    
 }
 img.anime{
    min-height: 302px;
 }
 .anime:hover{
    border: 5px solid rgba(0, 0, 0, 0.2);
    border-radius: 7px;
 }
 .foot{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: auto;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;

 }
.tt{
    margin: auto;
    padding: 5px;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.5);

}
.movie{
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 16px;
    flex-shrink: 0;

}
#movie{
    display: flex;
    color: white;
    padding-left: 16px;
    font-size: 36px;
}
 .bod::-webkit-scrollbar,
 .container::-webkit-scrollbar{
    color: black;

 }